<h1>Log In form</h1>



<form action="/login" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>Log in</button>
</form>



<a href="/"><button>Home</button></a>
<a href="/logout"><button>Log Out</button></a>